@import "tailwindcss";
*{
    box-sizing: border-box;
}

/**** Body ****/
h1{
    text-align: center;
    font-size: clamp(3rem, 4vw, 10rem); /* Change is minimal since header is too small but wanted to add for practice. */
    background-color: rgb(38, 4, 70);
    padding: 10px;
    color:#ffffff;
    margin:0%;
}

body{
    background-color: rgb(93, 248, 212); /*Light mint*/
    font-family: sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
}

img{
    max-inline-size: 90%;
    text-align: center;
    display: block;
}

.avatar {border-radius: 50%; 
  width: 25%;
  height: auto;
  margin:auto;
}

.two-column-layout{
    display: grid;    /*Use Grid display to create columns in page*/
    gap:20px;         /*Add some space between columns*/
    margin-block-end: 60px; /*Add some space after columns*/
    @media (width > 600px) {grid-template-columns: 1fr 1fr;} /*Adjust layout for mobile or view smaller than 600px*/
}
/***** Navigation menu styling *****/
.primary-navigation {
    background-color: rgb(38, 4, 70); /* Dark Purple */
    margin:0%;
  }

  .primary-navigation a {
    color:  rgb(254, 254, 254);         /* White*/
    font-weight: bold;
  }

  .primary-navigation ul {
    list-style-type: none;  /* Hide the bullets */
    display: flex;          /* Arrange horizontally, not vertically */
    flex-wrap: wrap;
    margin: 0%;
  }

  .primary-navigation li a {
    display: block;
    padding: 1em 2em;           Add a little space around each link
    text-decoration-line: underline;
    text-decoration-style: wavy;
  }

  .primary-navigation .active, .primary-navigation a:hover, .primary-navigation a:focus   {
    background-color: rgb(93, 248, 212); /*Light mint same as link color */
    color:rgb(38, 4, 70);            /* Dark Purple, same as navbar */
  }

  .primary-navigation a:hover, .primary-navigation a:focus {
  text-decoration: underline;
}
/*Kevin Powel Carousel*/
.carousel {
  position:relative;
  height: 400px;
  width: auto;
  margin: 0 auto;
}
.carousel_image {
  width:100%;
  height: 100%;
  object-fit: cover;
}
.carousel_container{
  background: rgb(254, 254, 254);
  height: 100%;
  position: relative;
}
.carousel_track {
  padding: 0%;
  margin: 0;
  list-style: none;
}
.carousel_slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width:100%;
}
.carousel_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}
.carousel_button--left {
  left: -40px;
}
.carousel_button--right {
  right: -40px;
}
.carousel_button img {
  width: 12px;
}
.carousel_nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin:0 12px;
}
.carousel_indicator{
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgb(0, 0, 0, 3);
}
/**Add slideshow**/
/* Slideshow container */
.slideshow-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  border-style: dashed;  
  border-color: blue;
  width: 400px; 
  height: 400px; 
}
/*Hide the images by default */
 .mySlides {
  /*display: none;*/
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  justify-content: center;
  align-content: center;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}