*{
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-size: clamp(3rem, 4vw, 10rem); /* Change is minimal since header is too small but wanted to add for practice. */
    background-color: rgb(38, 4, 70);
    padding: 10px;
    color:#ffffff;
}

body{
    background-color: rgb(250, 188, 250);
}
img{
    max-inline-size: 100%;
    text-align: center;
    display: block;
}

.two-column-layout{
    display: grid;
    gap:60px;
    margin-block-end: 60px;
    @media (width > 600px) {grid-template-columns: 1fr 1fr;}
}
.primary-navigation ul{
    list-style: none;
    margin:0;
    padding: 0;
    display:flex;
    gap:20px;
}
.primary-navigation a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}